<!DOCTYPE HTML>
<html>
	<body>
		<footer id="gtco-footer" class="gtco-section" role="contentinfo">
			<div class="gtco-copyright">
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-6 text-left">
							<p>Copyright &copy; 2019.Company name All rights reserved<a href="#" target="_blank" title="羽狼博客">羽狼博客</a> - Collect from <a href="#" title="羽狼博客" target="_blank">羽狼博客</a></p>						</div>
						<div class="col-md-6 text-right">
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>

