<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
</head>
<script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
<script>
</script>
<body>
<div class="content">
    <div class="card" style="width: 18rem;" th:each="article:${articles}" >
        <div class="card-body">
            <h5 class="card-title" th:utext="${article.title}"></h5>
            <p class="card-text" th:utext="${article.title}"></p>
            <a href="#" class="btn btn-primary" th:utext="${article.title}"></a>
        </div>
    </div>
</div>
</body>
</html>
<style>
    .content .card{
        float: left;
        width: 22em;
        height: 300px;
        margin: 20px;
    }
</style>